<div class="login">
  <div class="login__middle">
    <div class="login__inner">
      <div class="login__form">
        <div class="login__header">
          <div class="login__header__content">
            <div class="login__title text--white">
              <strong>
                Log in to our site
              </strong>
            </div>
            <small class="login__subtitle text--white">
              Enter username and password to log on.
            </small>
            <i class="fa fa-lock"></i>
          </div>
        </div>
        <div class="login__main">
          <form [formGroup]="formInstance"
                (ngSubmit)="onSubmit()">
            <div>
              <app-form-input
                [form]="form"
                [formGroup]="formInstance"
                [controlName]="'username'"
                [placeholder]="'USERNAME'"
                [type]="'text'"
                [required]="true"
                [validValueMessage]="'Valid format: email@email.com.'"
                [valueRequiredMessage]="'Email is required'">
              </app-form-input>
            </div>
            <div>
              <app-form-input
                [form]="form"
                [formGroup]="formInstance"
                [controlName]="'password'"
                [placeholder]="'PASSWORD'"
                [type]="'password'"
                [required]="true"
                [validValueMessage]="'Password must contain at least 5 characters.'"
                [valueRequiredMessage]="'Password is required'">
              </app-form-input>
            </div>
            <button class="button text--white"
                    id="submitButton"
                    type="button"
                    (click)="onSubmit()">
              Sign in
            </button>
            <div class="login__footer">
              <div>
                <span class="text--white"> Don't have account?</span>
                <a href="#" class="login__footer__link"><b> Signup here.</b></a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
