<div class="login">
  <div class="login__middle">
    <div class="login__inner">
      <div class="login__form">
        <div class="login__header">
          <div class="login__header__content">
            <div class="login__title text--white">
              <strong>
                Log in to our site
              </strong>
            </div>
            <small class="login__subtitle text--white">
              Enter username and password to log on.
            </small>
            <i class="fas fa-lock"></i>
          </div>
        </div>
        <div class="login__main">
          <form>
            <div>
              <input type="text"
                     class="login__input"
                     id="user"
                     placeholder="USERNAME">
              <span class="login__user--error" hidden>
                  Wrong email! Format: email@email.com
                </span>
            </div>
            <div>
              <input type="password"
                     class="login__input"
                     id="password"
                     placeholder="PASSWORD">
              <span class="login__password--error" hidden>
                  Wrong password! Must contain at least 5 characters.
                </span>
            </div>
            <button class="button text--white"
                    id="submitButton"
                    type="button"
                    onclick="onSubmit()">
              Sign in
            </button>
            <div class="login__footer">
              <div>
                <span class="text--white"> Don't have account?</span>
                <a href="#" class="login__footer__link"><b> Signup here.</b></a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
