// Colors

$main-bg-color: unquote('#4253ccb0');
$text-color-white: #fff;
$text-color-dark-blue: #425889;
$text-color-middle-blue: unquote('#445886c7');
$text-color-light-brown: #698AA3;
$text-color-brilliant-blue: #0e26d1;
$text-color-water-blue: #00B5E9;
$text-color-water-blue-light: #0088e9;
$text-color-dark-red: #e90000;
$text-color-dark-green: #1ccb11;
